body {
  padding: 50px;
  background: url(bg4.jpg);
  background-size: cover;
  font-family: sans-serif;
  font-size: 14px;
}
#container {
  display: flex;
  justify-content: center;
}
.todoListMain .header input
{
	padding:15px;
	font-size:16px;
	border:2px solid #fff;
	width:400px;

}
.todoListMain .header button
{
	padding:15px;
	font-size:16px;
	margin:10px;
	margin-right:0;
	background-color:#06f;
	color:#fff;
	border:2px solid #06f;
}

.todoListMain .header button:hover
{
	background-color:#039;
	border:2px solid #039;
	cursor:pointer
}
/*
.todoListMain .theList
{
	list-style:none;
	padding-left:0;
	width:435px;
}*/
.todoListMain .theList li
{
	color:#333;
	background-color:hsla(0,0%,100%,.5);
	padding:15px;
	margin-bottom:15px;
	border-radius:5px;
	font-size: 20px; 
	-webkit-transition:background-color .2s ease-out;
	-o-transition:background-color .2s ease-out;
	transition:background-color .2s ease-out;
}
.todoListMain .theList li:hover{
	background-color:pink;
	cursor:pointer;
	text-decoration: line-through;
	-webkit-transform: scale(1.1);
          transform: scale(1.1);
    -webkit-transition: .5s;
	transition: .5s;

	
}


.todoListMain .theList{
  position: relative;
  list-style: none;
  max-width: 435px;
  background: linear-gradient(-45deg,#fe0847,#feae3f);
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
h3 
{
	font-family: 'Bebas','Open Sans', sans-serif;
	letter-spacing: 5px;
	color: #111;
	font-size: 4.5em;
	text-align: center;
	margin: 0px auto;
}

p {
	font-family: 'Bebas','Open Sans', sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
	color: #111;
	font-size: 2em;
	text-align: center;
}